.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tab-header {
  display: flex;
  justify-content: space-evenly;
  background-color: #2c87e2;
}
.tab {
  padding: 20px;
  max-width: 200px;
}
.tab.selected {
  height: 100%;
  border-bottom: 2px solid red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
